.load:after {
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid darkgray;
  -webkit-animation: load_anim 1.1s infinite linear;
  animation: load_anim 1.1s infinite linear;
  z-index: 9999;
}

@-webkit-keyframes load_anim {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes load_anim {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.loading {
  position: relative;

  & > * {
    opacity: 0.5;
  }
}

.loading:before {
  content: "";
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading:after {
  z-index: 2;
  content: "";
  position: absolute;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}